
#heading {
	font-size:18px;
}

#title {    
	font: 19px/1.2em "Segoe UI",Arial,Helvetica,sans-serif;
    color: #1020D0;
}

#content {
	width: 520px;
}

#b_results {
	display: block;
}

li {
    display: inline;
}

.b_algo {
	width: 520px;
	display: block;
}

img {
	height:35;
	width:69;
}

#rat {
	position: absolute;
	left: 46px;
	top: 9px;
}

div1 {
	position:absolute;
	left:535px;
}

#u1 { top:35px; }
#d1 { top:71px; }

#up { top:130px; }
#down { top:166px; }
#u2 { top:240px; }
#d2 { top:276px; }
#u3 { top:335px; }
#d3 { top:371px; }
#u4 { top:425px; }
#d4 { top:461px; }
#u5 { top:514px; }
#d5 { top:550px; }

#rat {
	position:absolute;
}

.sb_doct_txt {
    color: #1020D0;
    font-size: 11px;
    line-height: 2.2;
    margin-right: 3px;
}
.b_float {
    float: left;
}

#b_results > li a {
    color: #1020D0;
}

cite {
    font-style: normal;
    word-wrap: break-word;
	color: #009030;
}

h2 {
    font: 18px/1.2em "Segoe UI",Arial,Helvetica,sans-serif;
	font-size: 18px;
}

h2, .b_focusLabel, label {
    padding-bottom: 3px;
}
h2, p, ol, ul, li {
    border: 0px none;    
	list-style: outside none none;
    margin: 0px;
    padding: 0px;
}

p, cite {
    font: 13px Arial,Helvetica,sans-serif;
}